<div class="container">
  <div class="row">
    <!-- Table -->
    <table class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>사용자</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= image_tag user.image %></td>
            <td><%= user.username %></td>
            <td><%= link_to "채팅하기", "#", class: "btn btn-secondary start-conversation", "data-sid" => current_user.id, "data-rip" => user.id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>