<div class="row">
  <div class="card-wrap col-12 mx-auto" style="padding: 20px;">
      <div style="color: #fff; margin: 30px 0; text-align: center;">
        <h4>채팅서비스 이용하기</h4>
        <p style="padding:0 20px; font-weight: 100;">지금 당신이 재미없는 이유는  <br>아는사람들과 놀고있기 때문입니다.</p>
      </div>

      <% if devise_mapping.omniauthable? %>
        <% resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider) do%>
            <div class="mb-30" style="text-align:center; background-color: #0c63e7; color: #fff; padding: 20px; box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);">
              <i class="fa fa-facebook" aria-hidden="true"></i> 패이스북으로 로그인
            </div>
          <%end%>
        <% end%>
      <% end%>
      
      <div class="card">
        <small>채팅 서비스는 페이스북 계정을 통한 로그인으로 이용가능합니다.
        페이스북 계정을 통해 본인 확인을 위한 개인정보(이메일, 성, 이름, 사진)가 서비스에 사용되며 이외에 어떠한 용도로도 사용되지 않습니다.
        여러분이 본 서비스에 로그인하신다면 개인정보 사용에 동의하는 것으로 간주됩니다.
        로그인 이후 서비스 이용을 원하지 않으시면 언제든 회원 탈퇴 가능합니다.</small> 
      </div>

  </div>
</div>


<script>
  (function(){
    var searchBtnStyle = document.getElementById('searchBtn').style;
    document.getElementsByTagName('body')[0].setAttribute("class", "gradientBackground");
    searchBtnStyle.backgroundColor ="transparent";
    searchBtnStyle.color = "rgba(255, 255, 255, 0.5)";
  })();
</script>