<div id="btn-top">
  <%= link_to lighting_path do%>
    채팅img
  <%end%>
</div>
<style>
#btn-top{
  width: 48px;
  height: 48px;
  background-color: #ffeb3b;
  position: fixed;
  right: 24px;
  bottom: 40px;
  border-radius: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px 0 rgba(249, 255, 93, 0.2);
}
</style>