<div class="row" id="search">
  <div class="card-wrap py-2 col-12 mx-auto">
    <%if @posts.length == 0 %>
      
      <div class="card" style="text-align: center;">
        <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i></h1>
        <h3>욕심보가 그득그득 하군요!</h3>
        <p style="color: #555;">기대치를 조금만 낮춰 볼까요?👍</p>
      </div>

    <%else%>
      <div class="card-top zigzag">
        <h5>총 <%=@posts.length%>개의 주점이 검색됨</h5>
      </div>
      <% @posts.each do |post| %>
        
        <%=link_to post do%>
          <div class="card">
            <h5>귀여운 <%=post.name%></h5>
            <p>공학관앞 + 소주 4,000원</p>
            <p class="mute">자세히보기 <i class="fa fa-angle-right" aria-hidden="true"></i></p>
          </div>
        <%end%>
        
      <% end %>
    <% end %>
  </div>
</div>




<%=render "chat"%>