<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="py-2 col-8 col-sm-4 col-md-3 col-lg-2 mx-auto">
        <div class="card text-center">
          <%= image_tag post.menuimg.url, class: "card-img-top" %>
          <div class="card-block">
            <h4 class="card-title font-weight-bold"><%=post.name%></h4>
            <%= link_to '보러가기', post ,class: "btn btn-secondary", onclick: "setDraggable(true)"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
