/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
* { font-family: 'Spoqa Han Sans', 'Sans-serif'; }

body{
  background-color: #000;
  color: #000;
}

a{
  color:inherit;
}
a:hover, a:focus, a:active{
  color:inherit;
  text-decoration: none;  
}

img{
	max-width: 100%;
}
.card-img-top{
	height: 200px;
}
.card {
  padding: 20px;
  background-color: #303741;
  color: #fff;
}

#btn-top{
  width: 48px;
  height: 48px;
  background-color: #e91e63;
  position: fixed;
  right: 24px;
  bottom: 40px;
  border-radius: 100%;
  z-index: 1000;
  box-shadow: 0 0px 15px 3px rgba(255, 0, 87, 0.41);

  font-size: 27px;
  color: #fff;
  line-height: 44px;
  text-align: center;
}

.modal-header{
  border-bottom-width: 0px;
}

.modal-footer{
  border-top-width: 0px;
}

.btn-round{
  border-radius:30px;
  background-color: #e91e63;
  box-shadow: 0 0px 15px 3px rgba(255, 0, 87, 0.41);
}